<html>
	<head>
		<title>{{ pessoa }}</title>
	<head>

	<body>

		{% include 'menu.html' %}

    	{% if message %}
			<p><strong>{{ message }}</strong></p>
		{% endif %}

        {% if pessoa %}
            <h4>{{ pessoa }}</h4>
        {% endif %}    

		{% if user.is_authenticated %}
			<div id="textoDinamico"/>
            Listando contatos...<br/><br/>
   			{% for telefone in telefones %}
                {% if telefone.particular != true %}
                    <li> {{ telefone.contato }} - ({{ telefone.ddd }}) {{ telefone.numero }}</li>
                {% endif %}
            {% endfor %}
		{% else %}
			{% if pessoa %}
				Olá {{ pessoa.nome }}, para ver seus contatos é necessário <a href="/autenticacao">autenticar-se</a> primeiro.
			{% else %}
				<p>Não te conheço ainda...</p>
				<a href="/pessoa/nova/">Crie uma Conta</a>
			{% endif %}
		{% endif %}

	</body>

</html>
