<html>
	<head>
		<title>{{ pessoa }}</title>
		<script type="text/javascript">
			function contatos(){
				var texto = document.getElementById("nome").value;
				if(texto != '') {
					var textoDinamico = document.getElementById("textoDinamico");
					textoDinamico.innerHTML = ......;
				} else {
					textoDinamico.innerHTML = "sua home";
				}
			}
		</script>
	<head>

	<body>

		{% include 'menu.html' %}
        
        {% if pessoa %}
            <h4>{{ pessoa }}</h4>
        {% endif %}    
    
		{% if user.is_authenticated %}
			<div id="textoDinamico"/>
            
        {% if message %}
			<p><strong>{{ message }}</strong></p>
		{% endif %}
            
            Listando contatos...<br/><br/>
          
            Seus telefones
			{% for telefone in telefones %}
                {% if telefone.particular == 1 %}
                    <li> ({{ telefone.ddd }}) {{ telefone.numero }}</li>
                {% endif %}
            {% endfor %}

            <br/><br/>
            
            Seus contatos
   			{% for telefone in telefones %}
                {% if telefone.particular == 0 %}
                    <li> {{ telefone.contato }} - ({{ telefone.ddd }}) {{ telefone.numero }}</li>
                {% endif %}

            {% endfor %}

		{% else %}
			{% if pessoa %}
				Olá {{ pessoa.nome }}, para ver seus contatos é necessário <a href="/ContatoSalvo/autenticacao">autenticar-se</a> primeiro.
			{% else %}
				<p>Não te conheço ainda...</p>
				<a href="/ContatoSalvo/pessoa/nova/">Crie uma Conta</a>
			{% endif %}
		{% endif %}

	</body>

</html>
