<html>
	<head>
		<title>Novo Registro</title>
        <script type="text/javascript">
            function marcar(campoSel) {
                if(campoSel.value == '1') {
                    campoSel.value = '0';
                }
                if(campoSel.value == '0'){
                    campoSel.value = '1';
                }
            }
        </script>
	<head>

	<body>

		{% include 'menu.html' %}

		<h4>Contato Salvo, uma iniciativa, muitas necessidades, diversas aplicações</h4>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}

		<form action="/registrar/pessoa/" method="post">
			{% csrf_token %}
            Olá !!! Comece agora mesmo a fazer parte de um sistema inteligente, confiável e seguro. Gratuitamente, basta me dizer qual o seu nome

            <input type="text" value="{{ pessoa.nome }}" name="nome" required="required" min="1" max="50" pattern="[A-z]+"/> e o seu 
			sobrenome <input type="text" value="{{ pessoa.sobrenome }}" name="sobrenome" required="required" min="1" max="50"/> (somente um e sem acentuação) 
            
            <br/><br/>

            Faltou seu e-mail <input type="email" value="{{ pessoa.email }}" name="email" required="required" max="100"/> que será usado para autenticar-se, portanto
            defina uma senha também <input type="password" value="{{ pessoa.senha }}" name="senha" required="required" min="5" max="10"/> 
            
            você tem um site, informe pra gente <input type="text" value="{{ pessoa.site }}" name="site" min="1" max="100"/> 

            <br/><br/>
            Você vai possuir um perfil público, as informações exibidas é você quem escolhe...
            <br/>
            <input type="checkbox" name="exibirEmail" id="exibirEmail" value="{{ pessoa.exibirEmail }}" onclick="marcar(this)" /> mostre meu email
            <input type="checkbox" name="exibirTelefones" id="exibirTelefones" value="{{ pessoa.exibirTelefones }}" onclick="marcar(this)" /> meus telefones (seu celular, por exemplo)
            <input type="checkbox" name="exibirSite" id="exibirSite" value="{{ pessoa.exibirSite }}" onclick="marcar(this)" /> e o site ?

			<br/><br/>
			<input type="submit" value="Prosseguir" />
		</form>
	</body>

</html>
