<html>  
	<head>
		<title>Novo Contato</title>
		<script src="/static/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
            function esconderContato(campo){
            	var chk = campo.checked;
                if (chk == true)
                    $('#div_contato').hide()
                 else   
                    $('#div_contato').show()
            }
        </script>
	<head>

	<body>

		{% include 'menu.html' %}
		
		<h3>Novo Contato</h3>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
        {% if message %}
			<p><strong>{{ message }}</strong></p>
		{% endif %}

        <form action="/registrar/contato/" method="post">
			{% csrf_token %}
            Este telefone pertence a você: <input type="checkbox" value="0" name="particular" onclick="esconderContato(this)"/> <br/>
            <div id="div_contato">
            	Contato: <input type="text" value="{{ telefone.contato }}" name="contato" id="contato" min="5" max="20" /> <br/>
			</div>
			
			DDD: <input type="number" value="{{ telefone.ddd }}" name="ddd" required="required" min="1" max="99" pattern="[0-9][1-9][1-9]"/> <br/>
			Numero: <input type="text" value="{{ telefone.numero }}" name="numero" required="required" min="1" max="8" pattern="[0-9]+"/> <br/>
			Operadora: <input type="number" value="{{ telefone.operadora }}" name="operadora" max="99"/> <br/>
			Pais: <input type="number" value="{{ telefone.pais }}" name="pais" min="0" max="999" pattern="[0-9][1-9][1-9]"/> <br/>
            Observacoes: <textarea value="{{ telefone.observacao }}" name="observacao" rows="5" cols="40"></textarea > <br/>
            <br/><br/>
			<input type="submit" value="Registrar" />
		</form>
	</body>

</html>
