<html>
	<body>

		{% include 'menu.html' %}

        <h3>Perfil do usuario:</h3>
        ({{ perfil.sobrenome }}) {{ perfil.nome }} <br/>

        {% if pessoa.exibirEmail == true %}
	        {{ perfil.email}} <br/>
        {% endif %}

        {% if pessoa.exibirSite == true %}
        	{{ perfil.site }} <br/>	
        {% endif %}

        {% if pessoa.exibirTelefones == true %}
	        {% for telefone in telefones  %}
	        	{% if telefone.particular == true %}
                	({{ telefone.ddd }}) {{ telefone.numero }}
		        {% endif %}	
 	        {% endfor %}
        {% endif %}

	</body>
</html>
